@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Uwierzytelnianie dwustopniowe (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Nie masz już żadnych kodów odzyskiwania.</strong>
            <p>Musisz <a asp-page="./GenerateRecoveryCodes">wygenerować nowe kody</a>, aby móc zalogować się przy ich pomocy.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Posiadasz jeden kod odzyskiwania.</strong>
            <p>Możesz <a asp-page="./GenerateRecoveryCodes">wygenerować nowe kody</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Posiadasz @Model.RecoveryCodesLeft kodów odzyskiwania.</strong>
            <p>Powinieneś <a asp-page="./GenerateRecoveryCodes">wygenerować nowe kody</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-danger">Zapomnij tą przeglądarkę</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">Wyłącz 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-danger">Zresetuj kody odzyskiwania</a>
}

<h5>Aplikacja uwierzytelniająca</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj aplikację uwierzytelniającą</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Ustaw aplikację uwierzytelniającą</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-danger">Zresetuj aplikację uwierzytelniającą</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}