@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zapomnienia hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Proszę sprawdź swój email w celu zresetowania hasła.
</p>

