@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Ta aplikacja nie może wysyłać emaili.
    Tutaj znajduje się link do potwierdzenia konta: <a class="btn btn-dark" id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj, aby potwierdzić konto.</a>
</p>
    }
    else
    {
<p>
        Proszę sprawdź email, aby potwierdzić konto.
</p>
    }
}
